In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\hp user\Desktop\Exercises and solutions\Exercises\911.csv')
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   lat        99492 non-null  float64
 1   lng        99492 non-null  float64
 2   desc       99492 non-null  object
 3   zip        86637 non-null  float64
 4   title      99492 non-null  object
 5   timeStamp  99492 non-null  object
 6   twp        99449 non-null  object
 7   addr       98973 non-null  object
 8   e          99492 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 6.8+ MB

In [4]:
df.isnull().sum()

lat              0
lng              0
desc             0
zip          12855
title            0
timeStamp        0
twp             43
addr           519
e                0
dtype: int64

In [5]:
df.describe()

                lat           lng           zip        e
count  99492.000000  99492.000000  86637.000000  99492.0
mean      40.159526    -75.317464  19237.658298      1.0
std        0.094446      0.174826    345.344914      0.0
min       30.333596    -95.595595  17752.000000      1.0
25%       40.100423    -75.392104  19038.000000      1.0
50%       40.145223    -75.304667  19401.000000      1.0
75%       40.229008    -75.212513  19446.000000      1.0
max       41.167156    -74.995041  77316.000000      1.0

In [6]:
df.shape

(99492, 9)

### DATA CLEANING AND FEATURE GENERATION

In [7]:
df['twp'] = df['desc'].apply(lambda x: x.split(';')[1])
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [8]:
df['addr'] =df['desc'].apply(lambda x: x.split(';')[0])
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [9]:
df['zip'].fillna(value = df.groupby('twp')['zip'].transform('mean'), inplace = True)

In [10]:
df['zip'].fillna(0, inplace = True)

In [11]:
df.isnull().sum() /df.shape[0]

lat          0.0
lng          0.0
desc         0.0
zip          0.0
title        0.0
timeStamp    0.0
twp          0.0
addr         0.0
e            0.0
dtype: float64

In [12]:
df['reason'] = df['title'].apply(lambda x: x.split(':')[0])
dmap = {'EMS':0, 'Fire':1, 'Traffic':2}
df['reason'] = df['reason'].map(dmap)
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,reason
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,0
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,0
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,0
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,19464.0,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,0

In [13]:
df['timeStamp'] = pd.to_datetime(df['timeStamp'])

In [14]:
df['Month'] = df['timeStamp'].apply(lambda time:time.month)
df['hour'] = df['timeStamp'].apply(lambda time:time.hour)

In [15]:
dmap = {0:'Mon',1:'Tue',2:'Wed',3:'Thu',4:'Fri',5:'Sat',6:'Sun'}
df['Day of Week'] = df['timeStamp'].apply(lambda time:time.dayofweek).map(dmap)
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,reason,Month,hour,Day of Week
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,0,12,17,Thu
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,0,12,17,Thu
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,1,12,17,Thu
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,0,12,17,Thu
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,19464.0,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,0,12,17,Thu

In [16]:
df.nunique()

lat            14579
lng            14586
desc           99455
zip              219
title            110
timeStamp      72577
twp              138
addr           21930
e                  1
reason             3
Month              9
hour              24
Day of Week        7
dtype: int64

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99492 entries, 0 to 99491
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   lat          99492 non-null  float64
 1   lng          99492 non-null  float64
 2   desc         99492 non-null  object
 3   zip          99492 non-null  float64
 4   title        99492 non-null  object
 5   timeStamp    99492 non-null  datetime64[ns]
 6   twp          99492 non-null  object
 7   addr         99492 non-null  object
 8   e            99492 non-null  int64
 9   reason       99492 non-null  int64
 10  Month        99492 non-null  int64
 11  hour         99492 non-null  int64
 12  Day of Week  99492 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(4), object(5)
memory usage: 9.9+ MB

### FEATURE ENCODING

In [18]:
freq_a = df.groupby('Day of Week').size()/(len(df))
df['Day of Week'] = df['Day of Week'].map(freq_a)

freq_b = df.groupby('Month').size()/(len(df))
df['Month'] = df['Month'].map(freq_b)

freq_c = df.groupby('hour').size()/(len(df))
df['hour'] = df['hour'].map(freq_c)

freq_d = df.groupby('twp').size()/(len(df))
df['twp'] = df['twp'].map(freq_d)

freq_e = df.groupby('zip').size()/(len(df))
df['zip'] = df['zip'].map(freq_e)

df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e,reason,Month,hour,Day of Week
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,0.009699,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,0.003437,REINDEER CT & DEAD END,1,0,0.080097,0.065503,0.145519
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,0.047722,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,0.008473,BRIAR PATH & WHITEMARSH LN,1,0,0.080097,0.065503,0.145519
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,0.070146,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,0.020424,HAWS AVE,1,1,0.080097,0.065503,0.145519
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,0.070146,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,0.038777,AIRY ST & SWEDE ST,1,0,0.080097,0.065503,0.145519
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,0.071302,EMS: DIZZINESS,2015-12-10 17:40:01,0.009036,CHERRYWOOD CT & DEAD END,1,0,0.080097,0.065503,0.145519

In [19]:
df.corr()['reason'].abs()

lat            0.078795
lng            0.062084
zip            0.118317
twp            0.088925
e                   NaN
reason         1.000000
Month          0.014386
hour           0.117590
Day of Week    0.045705
Name: reason, dtype: float64

In [20]:
df.drop(['desc', 'title', 'timeStamp', 'addr', 'e'], axis = 1, inplace = True)

In [21]:
df.corr()['reason']  #.abs()

lat           -0.078795
lng            0.062084
zip           -0.118317
twp            0.088925
reason         1.000000
Month          0.014386
hour           0.117590
Day of Week    0.045705
Name: reason, dtype: float64

### Normal model

In [43]:
from sklearn.model_selection import train_test_split
#copy your data
df_copy = df.copy()

#seperate dat to X(features) and y(target)
y = df_copy['reason']
X = df_copy.drop(['reason','Month','Day of Week'], axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [44]:
X.isnull().sum()

lat     0
lng     0
zip     0
twp     0
hour    0
dtype: int64

In [45]:
y.value_counts('normalize')*100

0    49.126563
2    35.877256
1    14.996181
Name: reason, dtype: float64

In [46]:
X_train.shape

(79593, 5)

In [47]:
X_test.shape

(19899, 5)

In [48]:
#SCALLING
names = ['zip', 'hour', 'twp', 'lng', 'lat']    
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
X[names] = std.fit_transform(X[names])
X.head()

        lat       lng       zip       twp      hour
0  1.464855 -1.509106 -0.781309 -1.066122  1.057737
1  1.043297  0.301923  0.947698 -0.679441  1.057737
2 -0.405993 -0.197406  1.967369  0.238248  1.057737
3 -0.459238 -0.149003  1.967369  1.647585  1.057737
4  0.973739 -1.635268  2.019930 -0.636220  1.057737

In [49]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
model = log_reg.fit(X_train, y_train)
y_predicted = model.predict(X_test)
train_pred = model.predict(X_train)

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_predicted)
cm

C:\Users\hp user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

array([[8241,    1, 1492],
       [2236,    0,  642],
       [5160,    0, 2127]], dtype=int64)

In [50]:
cm_train = confusion_matrix(y_train, train_pred)
cm_train

array([[33130,     0,  6013],
       [ 9326,     2,  2714],
       [20485,     1,  7922]], dtype=int64)

In [51]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

#printing error
error = 1-accuracy_score(y_test, y_predicted)
print("The error is :{}" .format(error))

#printing accuracy
accuracy = 1-error
print("The accuracy is :{}".format(accuracy))

#prining classification report
print(classification_report(y_test, y_predicted))

The error is :0.47896879240162826
The accuracy is :0.5210312075983717
              precision    recall  f1-score   support

           0       0.53      0.85      0.65      9734
           1       0.00      0.00      0.00      2878
           2       0.50      0.29      0.37      7287

    accuracy                           0.52     19899
   macro avg       0.34      0.38      0.34     19899
weighted avg       0.44      0.52      0.45     19899

In [52]:
#for train dataset
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

#printing error
error = 1-accuracy_score(y_train, train_pred)
print("The error is :{}" .format(error))

#printing accuracy
accuracy = 1-error
print("The accuracy is :{}".format(accuracy))

#classification report
print(classification_report(y_train, train_pred))

The error is :0.4842008719359743
The accuracy is :0.5157991280640257
              precision    recall  f1-score   support

           0       0.53      0.85      0.65     39143
           1       0.67      0.00      0.00     12042
           2       0.48      0.28      0.35     28408

    accuracy                           0.52     79593
   macro avg       0.56      0.38      0.33     79593
weighted avg       0.53      0.52      0.44     79593

In [55]:
#check the accuracy of the train and test
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print("Train accuracy", f1_score(y_train, train_pred, average = 'micro'))
print("Test accuracy", f1_score(y_test, y_predicted, average = 'micro'))

Train accuracy 0.5157991280640257
Test accuracy 0.5210312075983717

### FIXING UNDERFITTING WITH CROSS VALIDATION

#### USING STRATIFIED K-FOLD CROSS VALIDATION

In [37]:
from sklearn.metrics import f1_score
from sklearn.model_selection import StratifiedKFold
from statistics import mean, stdev

skf = StratifiedKFold(n_splits = 5, shuffle = True, random_state = 1)
f1_scores = []

for train_index, test_index in skf.split(X, y):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    model = LogisticRegression()
    model.fit(x_train, y_train)
    
    print("Train", y_train.value_counts(normalize = True)*100)
    print("Test", y_test.value_counts(normalize = True)*100)
    print("-----------------------------------------------")
    
    f1_scores.append(f1_score(y_true = y_test, y_pred = model.predict(x_test), pos_label =1, average = 'micro')*100)
print("The F1-Scores for Stratified K-Fold:{}".format(f1_scores))
print("The mean for Stratified K-Fold:{}".format(mean(f1_scores)))

Train 0    49.126179
2    35.877527
1    14.996294
Name: reason, dtype: float64
Test 0    49.128097
2    35.876175
1    14.995728
Name: reason, dtype: float64
-----------------------------------------------
Train 0    49.126179
2    35.877527
1    14.996294
Name: reason, dtype: float64
Test 0    49.128097
2    35.876175
1    14.995728
Name: reason, dtype: float64
-----------------------------------------------
Train 0    49.126819
2    35.877076
1    14.996105
Name: reason, dtype: float64
Test 0    49.125540
2    35.877978
1    14.996482
Name: reason, dtype: float64
-----------------------------------------------
Train 0    49.126819
2    35.877076
1    14.996105
Name: reason, dtype: float64
Test 0    49.125540
2    35.877978
1    14.996482
Name: reason, dtype: float64
-----------------------------------------------
Train 0    49.126819
2    35.877076
1    14.996105
Name: reason, dtype: float64
Test 0    49.125540
2    35.877978
1    14.996482
Name: reason, dtype: float64
-----------------------------------------------
The F1-Scores for Stratified K-Fold:[52.33931353334338, 52.91220664354993, 52.251482561061415, 52.43743089757764, 52.55302040406071]
The mean for Stratified K-Fold:52.498690807918614

#### USING K-FOLD CROSS VALIDATION

In [56]:
from sklearn.metrics import f1_score
from sklearn.model_selection import KFold

kf = KFold(n_splits = 5)
f1_scores = []
f1_scores_train = []
for train_index, test_index in kf.split(df_copy):
    x_train, x_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    model = LogisticRegression()
    model.fit(x_train, y_train)
    
      
    print("Train", y_train.value_counts(normalize = True)*100)
    print("Test", y_test.value_counts(normalize = True)*100)
    print("-----------------------------------------------")
    

    f1_scores.append(f1_score(y_true = y_test, y_pred = model.predict(x_test),
                          average = 'micro')*100)
    f1_scores_train.append(f1_score(y_true = y_train, y_pred = model.predict(x_train),
                          average = 'micro')*100)
    
print("The F_1 Scores K-Fold:{}".format(f1_scores))
print("The mean K-Fold:{}".format(mean(f1_scores)))
print("The F_1 Scores K-Fold for train:{}".format(f1_scores_train))
print("The mean K-Fold for train:{}".format(mean(f1_scores_train)))

Train 0    49.696581
2    35.128717
1    15.174701
Name: reason, dtype: float64
Test 0    46.846575
2    38.871300
1    14.282125
Name: reason, dtype: float64
-----------------------------------------------
Train 0    49.085975
2    35.952910
1    14.961115
Name: reason, dtype: float64
Test 0    49.288909
2    35.574652
1    15.136439
Name: reason, dtype: float64
-----------------------------------------------
Train 0    48.743624
2    36.188657
1    15.067719
Name: reason, dtype: float64
Test 0    50.658358
2    34.631621
1    14.710021
Name: reason, dtype: float64
-----------------------------------------------
Train 0    49.031334
2    35.973817
1    14.994849
Name: reason, dtype: float64
Test 0    49.507488
2    35.491004
1    15.001508
Name: reason, dtype: float64
-----------------------------------------------
Train 0    49.075307
2    36.142172
1    14.782521
Name: reason, dtype: float64
Test 0    49.331591
2    34.817570
1    15.850839
Name: reason, dtype: float64
-----------------------------------------------
The F_1 Scores K-Fold:[50.59048193376552, 51.99256244032363, 53.864710021107655, 53.015378429992964, 53.135993567192685]
The mean K-Fold:52.51982527847649
The F_1 Scores K-Fold for train:[53.09009586270149, 52.753382835173944, 52.32932130562605, 52.30419378345101, 52.334346810061064]
The mean K-Fold for train:52.56226811940271